*{
    margin: 0;
    padding: 0;
}
body{
    background: url(/bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins';

}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}
header ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 20px 0;
    list-style: none;
}
header ul li{
    margin: 0 14px;

}
header ul li a{
    text-decoration: none;
    color: #f0f0f0;
    font-size: 20px;
    font-weight: 700;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}
h1{
    font-weight: 700;
    color: white;
    font-size: 30px;
}
p{
    font-weight: lighter;
    color: white;
    font-size: 15px;
}
